<ion-slides pager="true" *ngIf="lstArticulo">
    <ion-slide *ngFor="let data of lstArticulo | segmentoArticulo:segmento">
        <ion-grid fixed>
            <ion-card size="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" color="dark">
                <ion-card-header>
                    <ion-card-subtitle>{{segmento.descripcion | uppercase}}</ion-card-subtitle>
                </ion-card-header>
                <ion-slide class="image-slide"
                           [style]=" (data.portada | imagen: data.articuloSegmento._id ) | domSanitizer ">
                </ion-slide>
                <ion-label *ngIf="!data.esServicio">
                    <h3>{{data.descripcion | uppercase}}</h3>
                    <p>Costo unidad: {{data.unidadCosto}}</p>
                </ion-label>

                <ion-label *ngIf="data.esServicio">
                    <h3>{{data.descripcion | uppercase}}</h3>
                    <p>Costo Servicio: {{data.unidadCosto}}</p>
                </ion-label>

                <ion-button color="tertiary" (click)="seleccionarArticulo(data)" expand="block">SOLICITAR</ion-button>
                <ion-footer>
                    <ion-row>
                        <ion-col>
                            <ion-button fill="clear" size="small">
                                <ion-icon slot="start" name="thumbs-up"></ion-icon>
                                <div>12 Me Gusta</div>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button fill="clear" size="small">
                                <ion-icon slot="start" name="thumbs-down"></ion-icon>
                                <div>12 No me gusta</div>
                            </ion-button>
                        </ion-col>
                        <ion-col *ngIf="data.permiteComentar">
                            <ion-button fill="clear" size="small">
                                <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
                                <div>4 Comments</div>
                            </ion-button>
                        </ion-col>
                        <!--<ion-col center text-center>
                            <ion-note>
                                11h ago
                            </ion-note>
                        </ion-col>-->
                    </ion-row>
                </ion-footer>
            </ion-card>
            <br>
        </ion-grid>
    </ion-slide>

</ion-slides>
